@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Chakra Petch", sans-serif;
}

.wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 960px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-wrapper {
  outline: thin solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .main-wrapper {
    width: 400%;
    height: 80%;
  }
}

@media (min-width: 960px) {
  .main-wrapper {
    width: 70%;
    height: 400%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0px) {
  .side-wrapper {
    width: 100%;
    height: 20%;
  }
}

@media (min-width: 960px) {
  .side-wrapper {
    width: 30%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 0px) {
  .section-wrapper {
    min-width: 25%;
    min-height: 100%;
    outline: thin solid red;
  }
}

@media (min-width: 960px) {
  .section-wrapper {
    min-width: 100%;
    min-height: 25%;
    outline: thin solid red;
  }
}

@media (min-width: 960px) {
  .nav-wrapper {
    height: 55vh;
    width: 100%;
    border: thin solid green;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gk {
  width: 100%;
  height: 35%;
}

.rounded {
  position: relative;
  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

@media (min-width: 0px) {
  .rounded {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #181818), color-stop(85%, rgba(20, 20, 20, 0.5)), color-stop(95%, rgba(20, 20, 20, 0.2)));
    background: linear-gradient(180deg, #181818 30%, rgba(20, 20, 20, 0.5) 85%, rgba(20, 20, 20, 0.2) 95%);
  }
}

@media (min-width: 960px) {
  .rounded {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(24, 24, 24, 0.75)), color-stop(85%, rgba(20, 20, 20, 0.5)), color-stop(95%, rgba(20, 20, 20, 0.2)));
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.75) 30%, rgba(20, 20, 20, 0.5) 85%, rgba(20, 20, 20, 0.2) 95%);
  }
}

@media (min-width: 0px) {
  .side-screen {
    display: none;
  }
}

@media (min-width: 960px) {
  .side-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 45vh;
    border: thin solid blue;
  }
}

.screen-children {
  min-width: 95%;
  height: 95%;
  margin-block: 2%;
  margin-inline: 2.5%;
}

.screen-children2 {
  min-width: 95%;
  height: 95%;
  margin-block: 2%;
  margin-inline: 2.5%;
}

.spotify {
  width: 80%;
  height: 81.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.65);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.65);
}

.spotify-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.track-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40%;
  font-size: 1.5rem;
  margin-top: 0.30rem;
}

.artist-name {
  font-size: 1.25rem;
  height: 40%;
  margin-left: 0.25rem;
}

.spotify-icon {
  width: 20%;
  height: 100%;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.3;
  z-index: 3;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  min-width: 100%;
  height: 100%;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=App.css.map */