@import "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
    font-family: 'LCDFont';
    src: url('./assets/DS-DIGI.TTF') format('truetype');
  }

// Global Styles
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
    font-family: "Chakra Petch", sans-serif;
    
}

.wrapper {
    overflow: hidden;
    width: 100vw;
    
    @include xs{
      height: 100svh;
    };
    @include lg{
     display: flex;
     height: 100vh;
    };
}

.wrapper-border{
    @include xs{
        display: none;
    };
    @include lg{
        display: block;
        width: 0.5px;
        height: 100%;
        background: linear-gradient(to bottom, black 3%, #222 3%, #222 98.5%, black 98.5%); 
        z-index: 3;
    };
}

.mobile-home{
  @include xs{
      color: #ffffff22;  
      margin: 0;
      padding: 0;
      height: 2%;
      width: 100%;
      margin-top: 2.25%;
      //margin-inline:50%;
      display: flex; 
      align-items: center;
      justify-content: center;
      
      //cursor: pointer; 
  };
  @include lg{
    display: none
  };
}

.mobile-home-g{
  font-size: 2rem; 
  font-weight: 700;
  //margin-inline: 2.5%; 
  background: -webkit-linear-gradient(#eee, #888); 
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-wrapper {
    //outline: thin solid red;
    display: flex;
    //overflow: scroll;
    @include xs {
        width: 400%;
        height: 85%;
    };
    @include lg {
        width: 70%;
        height: 400%;
        flex-direction: column;
        box-shadow: 0.5rem 0px 0.5rem 0px #00000088;
        z-index: 5;
    };
}

.side-wrapper{
    display: flex;
    @include xs{
        width: 100%;
        height: 11%; 
        align-items: center;
        justify-content: center;
    };
    @include lg{
       // margin-top: -0.25%;
        width: 30%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //border-left:thin solid white; 
    };
}

.section-wrapper{
    display: flex;
    align-items: center;
    
    @include xs{
        min-width: 25%;
        min-height: 100%;
        justify-content: center;
        //outline: thin solid red;
    };
    @include lg{
        min-width: 100%;
        min-height: 25%;
        justify-content: end;
        //outline: thin solid red;
    };
}

.nav-wrapper{
    display: flex;
    @include xs{
        flex-direction: row;
        width: 97%;
        height: 99%;
        align-self: center;
        justify-self: center;
        justify-content: center;
    };
    @include lg{
      height: 48vh;
      margin-top: 0.75vh;
      width: 95%;
      border: thin solid green;
      flex-direction: column;  
      justify-content: start;
    };
}

.nav-item{
    font-family: "Chakra Petch", sans-serif;
    @include xs{
        min-width: 31%;
        height: 100%;
        color: white;
        //margin-bottom: -5% !important;
        margin-right: 0 !important;
        font-size: 1.5rem;
        font-weight: 500;
    };
    @include md{
      min-width: 31.5%;
    };
    @include lg{
        width: 100%;
        height: 36%;
        color: rgb(255, 255, 255);
        margin-bottom: 0 !important;
        font-weight: 400;
        cursor: pointer;
        font-size: 2.75rem
    };
}

.nav-item:nth-child(1) {
    @include xs{
        margin-right: 5px !important;
        margin-left: 5px !important;
        //margin-top: 0px !important;
    };
    @include lg{
        margin-inline: 10px !important;
        //margin-top: 0px !important;
    };
  }
  
  .nav-item:nth-child(2) {
    @include xs{
        margin-right: 5px !important;
        margin-left: 0px !important;
    };
    @include lg{
        margin-inline: 10px !important;
    };
  }
  
  .nav-item:nth-child(3) {
    @include xs{
        margin-right: 5px !important;
        margin-left: 0px !important;
    };
    @include lg{
        margin-inline: 10px !important;
    };
  }
  


.status-text{
    margin: 0;
    padding: 0;
    margin-left: 3%;
}

//round styles

.gk{
    width: 100%;
    height: 35%
    //  margin-top: 10px;
}

.rounded {
    position: relative; 
    
    //border-radius: calc(inh);   
    
    //box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(65px); 
    @include xs {
      border-radius: 17.5px;
      border: 1.5px solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(180deg, rgba(18, 18, 18, 0.75), rgba(14, 14, 14, 0.75))
    };
    @include lg {
      border-radius: 20px;
      border: 1.5px solid rgba(255, 255, 255, 0.25);
      //background: linear-gradient(180deg, rgba(20, 20, 20,0.75) 30%, rgba(20, 20, 20, 0.65)85%, rgba(22, 22, 22, 0.4) 95%);
        //box-shadow: 0 0 30px 30px rgba(155, 155, 155, 0.01);
        background: linear-gradient(180deg, rgba(18, 18, 20, 0.5), rgba(14, 14, 16, 0.5))
      };
}

.side-screen{
    @include xs{
        display: none  
    };
    @include lg{
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 48vh;
        
        //border: thin solid blue;
    };
}

.screen-children{
    //background-color: blue;
    min-width: 95%;
    height: 95%;
    margin-block: 2%;
    margin-inline: 2.5%;
}

.screen-children2{
    //background-color: red;
    background: radial-gradient(#cccccc22, black 80%);
    min-width: 95%;
    height: 95%;
    margin-block: 2%;
    margin-inline: 2.5%;
    cursor: pointer; 
}

.time-location{
    width: 100%;
    //border: thin solid blue;
    height: 67%;
    display: flex;
}

.location{
    min-width: 48%;
    height: 94% !important;
    margin-right: 0 !important;
    //border: thin solid red;
    //display: flex;
}

.city{
  min-width: 96.5%;
  min-height: 33%;
  font-size:1.125em;
  color: rgba(225,225,225,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-time{
  min-width: 96.5%;
  min-height: 27.25%;
  height: 27.25%;
  display: flex;
}

.location-icon{
  min-height: 100%;
  min-width: 30%;
}

.location-time{
  min-width: 100%;
  min-height: 98%;
  color: rgba(225,225,225,0.6);
  height: 98%;
  margin-top: 0 !important;
}

.remote{
  min-width: 96.5%;
  min-height: 33%;
  font-size:1.25rem;
  color: rgba(225,225,225,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}


.time{
  min-width: 47.5%;
  min-height: 94%;
  //aspect-ratio: 1.5/1;
  //background: linear-gradient(180deg, rgba(20, 20, 20,0.75) 30%, rgba(30, 30, 30, 0.65)85%, rgba(20, 20, 20, 0.4) 95%);
  box-shadow: inset 0 0 25px rgba(100, 100, 100, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  //border: thin solid blue;
}

.clock{
  width: 96%;
  aspect-ratio: 1/1.025;
  position: relative;
  border: thin solid rgba(255, 255, 255, 0.25);
  border-radius: 2.5px;
  //box-shadow: inset -30px -30px 30px #0000002f, inset 30px 30px 30px #ffffff12;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.35);
  font-weight: 700;
  font-size: 1.25rem;
}

.clock .number{
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}
.dial{
  font-weight: 500;
  font-size: 0.75rem;
}

.clock .number1{ --rotation: 30deg;}
.clock .number2{ --rotation: 60deg;}
.clock .number3{ --rotation: 90deg;}
.clock .number3 >p{  margin-top: 3.5%;font-size: 1.125rem;font-weight: 700;}
.clock .number4{ --rotation: 120deg;}
.clock .number5{ --rotation: 150deg;}
.clock .number6{ --rotation: 180deg;}
.clock .number6 >p{  margin-top: 3.5%;font-size: 1.125rem;font-weight: 700;}
.clock .number7{ --rotation: 210deg;}
.clock .number8{ --rotation: 240deg;}
.clock .number9{ --rotation: 270deg;}
.clock .number9 >p{ margin-top: 3.5%;font-size: 1.125rem;font-weight: 700;}
.clock .number10{ --rotation: 300deg;}
.clock .number11{ --rotation: 330deg;}
.clock .number12 >p{ margin-top: 3.5%; font-size: 1.125rem;font-weight: 700;}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: rgb(183, 183, 183);
  z-index: 11;
  width: 9px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: inset -4px -4px 7px #22222266, inset 4px 4px 5px #ffffff17;
}

.clock .hand.second{
  width: 2px;
  height: 35%;
  background-color: rgba(255, 0, 0, 0.75);
}

.clock .hand.minute{
  width: 2px;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  //outline: 1px solid rgba(255, 255, 255, 1);
}

.clock .hand.hour{
  width: 3px;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.75);
  //outline: 1px solid rgba(255, 255, 255, 1);
}

.location-icon{
    width: 25%;
    height: 100%;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.location-text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    @include md{
        font-size: 1.125em;
    };
}

.location-text-line{
    width: 80%;
    height: 1px;
    margin-top: -7.5%;
    margin-bottom: -7.5%;
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
}

// .time{
//     width: 50%;
//     height: 100% !important;
//     margin-top: 0 !important;
//     margin-right: 0 !important;
//     //margin-left: 0 !important;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.clock2{
    font-size: 2.5em;
    font-family: 'LCDFont', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blink-animation 1s ease-in-out infinite;
    padding-inline: 5%;
  }


.spotify{
    width: 85% !important;
    height: 88% !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.65);
}

.spotify-wrapper{
    display: flex;
}

.track-name{
    display: flex;
    width: 100%;
    height: 40%;
    font-size: 1.75em;
    margin-top: 0.30rem;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'LCDFont', monospace;
    margin-top: 1%;
    @include md{
        //font-size: 150%;
        width: 125%;
        padding-block: 10px;
    };
    @include lg{
        //font-size: 175%;
        width: 125%;
        padding-block: 10px;
    };
    
}

.artist-name{
    font-size: 1.5rem;
    height: 40%;
    margin-left: 0.25rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'LCDFont', monospace;
    @include md{
        font-size: 1,5rem;
        margin-top: -0;
    };
}

.spotify-icon{
    width: 15%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    z-index: 3;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 10s linear infinite;
    min-width: 100%;
    height: 100%;
    //border: thin solid red;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .opportunity{
    display: flex;
    width: 100%;
    font-size: 1rem;

  }

  .opportunity-icon{
    margin-right: 1rem;
 @include xs{
  margin-top: 0.85rem;
 };
 @include lg{
  margin-top: 2.125rem;
 };
  }

  .face-wrapper{
    width: 100%;
    height: 99.5%;
    background: url(./assets/ooorganize2.svg); 
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .face-container{
    position: relative;
    width: 70%;
    height: 88%;
    z-index: 2;
  }

  
  .face-back{
    width: 100%;
    height: 100%;
    //border: thin solid red; 
    position: absolute;
    display: flex; 
    align-items: center;
    top: 10;
  }

  .face-front{
    width: 100%;
    height: 100%;
    //border: thin solid blue; 
    //opacity: 0.5;
    position: absolute;
    top: 10;
    background-image: url(./assets/face-empty3.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    //box-shadow: 0px 0px 6px rgb(0, 0, 0);
  }

//   .face-front:hover{
//     background-image: url(./assets/face-empty-smile.png);
//   }

  .eye-left{
    width: 10%;
    height: 10%;
    background-color: #aaaaaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 31%; 
    margin-top: -2.5%; 
  }

  .eye-right{
    width: 10%;
    height: 10%;
    background-color: #aaaaaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 15.25%;
    margin-top: -2.5%;  
  }

  .pupil{
    aspect-ratio: 1/1;
    width: 62.5%; 
    background-color: black;
    border-radius: 50%;
  }

  .section-inner-wrapper{
    margin-top: 0.9%;
    height: 96%;
    overflow: hidden;
    @include xs{
      width: 97%;
    };
    @include lg{
      width: 99%;
    };
  }
  .section-inner-wrapper > .rounded {
    border: thin solid transparent;
  }
  .section-underlier{
    position: absolute;
    width: 100%;
    
    //background-color: pink;
    //margin-left: 25%;
    display: flex;
    overflow: hidden;
    z-index: -1;
    @include xs{
      //margin-top: -106%;
      //border: thin solid red;
      height: 50%;
    };
    @include lg{
      //margin-top: -120%;
      height: 100%; 
      align-items: center;
      justify-content: center;
      
    };
  }

  .ball1{
    z-index: -1;
    margin-left: -5%;
    background-color: red;
    @include xs{
      opacity: 0.135;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px);
    };
    @include lg{
      opacity: 0.235;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px); 
    };
  }
  .ball2{
    z-index: -1;
    margin-top: -45%;
    margin-left: -35%;
    background-color: blue;
    @include xs{
      opacity: 0.135;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px);
    };
    @include lg{
      opacity: 0.265;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px); 
    };
  }
  .ball3{
    z-index: -1;
    margin-left: -30%;
    background-color: rgb(8, 249, 168);
    @include xs{
      opacity: 0.135;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px); 
    };
    @include lg{
      opacity: 0.235;
      width: 90%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      filter: blur(150px); 
      //-webkit-filter: blur(250px)
    };
  }

  .hero-wrapper{
    width: 99.75%;
    height: 99.65%;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //overflow: hidden;
  }

  .hero-top{
    width: 100%;
    //border-bottom: thin solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
   
    @include xs{
      min-height: 50%;
    };
    @include lg{
      min-height: 47.5%;
      margin-bottom: 15px;
    };
  }

  // .hero-space{
  //   width: 100%;
  //   height: 10%;
  // }

  .hi-text{
    padding: 1.75rem;
    //padding-left: 1.25rem;
    padding-bottom: 0;
    @include xs{
      font-size: 1rem;
    };
    @include lg{
      font-size: 1.75rem;
      margin-top: -10%
    };
  }

  .name-text{
    padding-left: 1rem;
    padding-top: 0;
    color: rgb(230, 230, 230);
    @include xs{
      font-size: 4.5em;
      font-weight: 600;
      margin-bottom: 0;
      padding-bottom: 1.5%;
    };
    @include md{
      font-size: 1em;
    };
    @include lg{
      //margin-top: 1em;
      line-height: 1em;
    };
  }

  .surname-text{
    @include xs{
      display: none;
    };
    @include lg{
      display: inline;
    };
  }

  .hero-text{
    color: rgb(230, 230, 230);
    //font-weight: 300;
    @include xs{
        padding-top: 0.5rem;
        margin: 0;
        font-size: 1.125rem;
        padding-inline: 1rem;
        font-weight: 500;
    };
    @include md{
        padding-top: 0.75em;
        font-size: 2.25vw; 
        padding-inline: 2rem;
        margin-block: 0rem;
        line-height: 2.25rem;
        font-weight: 500;
    };
    @include lg{
      padding-top: 0em;
    };
  }

  .opportunity-text{
    color: rgb(230, 230, 230);
    width: 100%;
    //height: 100%;
    display: flex;
    
    justify-content: baseline;
    @include xs{
      font-size: 1.125rem;
      margin-left: 1rem;
    };
    @include md{
      font-size: 1.5rem;
      margin-left: 2rem;
    };
  }

  .opportunity-text > p{
    
  }

  .hero-bottom{
    width: 100%;
    //border: thin solid pink;
    align-items: center !important;
    @include xs{
      min-height: 75%;
    };
    @include lg{
      display: flex;
      min-height: calc(53% - 20px);
    };
  }

  .hero-left{
    display: flex;
    flex-direction: column;
    //outline: thin solid pink;
    @include xs{
      width: 100%;
      height: 30%;
      min-height: 30%;
      border-bottom: thin solid rgba(255, 255, 255, 0.2);
      //justify-content: space-around !important;
    };
    @include lg{
        min-width: 40%;
        height: 100%;
        justify-content: center;
        //align-items: center;
        //min-height: 100%;
        border: thin solid rgba(255, 255, 255, 0.2); 
        border-radius: 10px;
        margin-right: 12.5px;
        //box-sizing: border-box;
        //justify-content: space-around !important;
        //border-bottom: none;
    };
  }
  .hero-right{
    display: flex;
    flex-direction: column;
    //overflow: hidden;
    justify-content: center;
    // align-items: center;
    @include xs{
      width: 100%;
      height: 50%;
      min-height: 50%;
      //outline: thin solid green;
    };
    @include lg{
        //position: relative;
        min-width: calc(60% - 20px);;
        height: 100%;
        border: thin solid rgba(255, 255, 255, 0.2); 
        border-radius: 10px;
    };
  }

  .game-space{
    outline: thin solid rgba(255, 255, 255,0.25);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    @include xs{
      min-width: 96.5%;
      min-height: 95%;
      border-radius: 4.5px;
      background-image: url(./assets/mario.gif);
      background-size: cover;
      background-position-x: right;
      background-position-y: bottom; 
      filter: grayscale(0.25) sepia(0.5) brightness(0.85);
      transform: scaleX(-1);
    };
    @include md{
      min-width: 97%;
      min-height: 90%;
      border-radius: 5px;
      background-position-y: bottom;
    };
    @include lg{
      min-width: calc(100%);
      min-height: 100%;
      border-radius: 10px;
      background-size: cover;
      background-position-y: top; 
      background-position-x: right;
      background: rgba(255, 255, 255, 0.03);
      background-image: url(./assets/green.gif);
      //margin-top: -0.5%;
    };
  }

  .layer-wrapper{
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    //border: thin solid red;
    //background-image: url(./assets/template-2.png);
  }
  .layer0{
    position: absolute;
    width: 100%;
    height: 100%; 
    background-size: cover;
    //background-color: #ff00ff55;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.533);
    //border: thin solid green;
    transform-style: preserve-3d;
    transform: translateZ(10px);
    // @include xs{
    //   background-image: url(./assets/template.png);  
    // };
    // @include lg{
    //   background-image: url(./assets/template-2.png);  
    // };
  }

  .layer1{
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: #ff00ff55;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.533);
    //border: thin solid green;
    transform: translateZ(200px);
    transform-style: preserve-3d;
    @include xs{
      background-image: url(./assets/h1.png);  
    };
    @include lg{
      background-image: url(./assets/l1.png);  
    };
  }
  .layer2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    //background-color: #ff00ff55;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.533);
    //border: thin solid green;
    transform-style: preserve-3d;
    transform: translateZ(300px);
    @include xs{
      background-image: url(./assets/h2.png);  
    };
    @include lg{
      background-image: url(./assets/l2.png);  
    };
  }
  .layer3{
    position: absolute;
    width: 100%;
    height: 100%; 
    background-size: cover;
    //background-color: #ff00ff55;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.533);
    //border: thin solid green;
    transform-style: preserve-3d;
    transform: translateZ(400px);
    @include xs{
      background-image: url(./assets/h3.png);  
    };
    @include lg{
      background-image: url(./assets/l3.png);  
    };
  }
  .layer4{
    position: absolute;
    width: 100%;
    height: 100%; 
    background-size: cover;
    //background-color: #ff00ff55;
    //box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.533);
    //border: thin solid green;
    transform-style: preserve-3d;
    transform: translateZ(500px);
    @include xs{
      background-image: url(./assets/h4.png);  
    };
    @include lg{
      background-image: url(./assets/l4.png);  
    };
  }

 
  
.game-space::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //background: rgba(100, 100, 100, 0.5); 
  background-color: white;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.scanline {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  width: 100%;
  height: 90px;
  z-index: 8;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.25;
  position: absolute;
  //top: 10%;
  bottom: 100%;
  @include xs{
    animation: scanline 5s linear infinite;
  };
  @include lg{
    animation: scanline 7s linear infinite;
  };
}

.scanline::-webkit-scrollbar{
  display: none;
}

@keyframes scanline {
  0% {
      bottom: 80%;
  }
  50% {
      bottom: 40%;
  }
  100% {
      bottom: 0%;
  }
}


.hero-social-wrapper{
  display: flex;
  
  align-items: center;
  width: calc(100% - 1rem);
  height: 10%;
  margin-left: 1rem;
  @include xs{
    margin-bottom: 5%;
    justify-content: space-between;
  };
  @include lg{
    margin-bottom: 0%;
    justify-content: left;
  };
}

.hero-social-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: thin solid rgba(255, 255, 255, 0.1);
  @include xs{
    border-radius: 5px;
    box-shadow: 0rem 10px 0.25rem 0px #00000028;
    color: white;
    min-width: 20%;
    font-size: 0.85rem;
    margin-top: 1rem;
    //aspect-ratio: 2.5/1;
    padding-inline: 5px;
    padding-block: 5px;
    margin-right: 10px;
  };
  @include lg{
    border-radius: 5px;
    box-shadow: 0rem 10px 0.25rem 0px #00000028;
    color: white;
    min-width: 15%;
    //aspect-ratio: 2.5/1;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;
  };
}






